services:
  db:
    image: postgres:15-alpine
    restart: always

    env_file:
      - ./.env

    volumes:
      - postgres_data:/var/lib/postgresql/data

    networks:
      - sound-node-network


  minio:
    image: minio/minio:latest
    restart: always

    ports:
      - "9000:9000"
      - "9001:9001"

    env_file:
      - ./.env

    volumes:
      - minio_data:/data

    command: server /data --console-address ":9001"

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

    networks:
      - sound-node-network


  backend:
    build:
      context: ./BACKEND
      dockerfile: Dockerfile

    image: sound-node-backend:latest

    env_file:
      - ./BACKEND/.env

    depends_on:
      - db
      - minio

    volumes:
      - static_volume:/app/staticfiles

    networks:
      - sound-node-network


  frontend:
    build:
      context: ./FRONTEND
      dockerfile: Dockerfile

    image: sound-node-frontend:latest

    restart: always

    depends_on:
      - backend

    networks:
      - sound-node-network
    volumes:
      - frontend_build:/usr/share/nginx/html


  nginx:
    image: nginx:alpine

    depends_on:
      - backend
      - frontend

    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - frontend_build:/usr/share/nginx/html:ro
      - static_volume:/var/www/static:ro

    ports:
      - "80:80"

    networks:
      - sound-node-network


volumes:
  postgres_data:
  static_volume:
  frontend_build:
  minio_data:


networks:
  sound-node-network:
    driver: bridge
